<html> <head> <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> <link rel="stylesheet" href="/draggable.css"/> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> </head><body><footer class="page-footer white" style="height: 100%"><div class="container" style="margin-top:40px">
                if posts.length > 0
                    <div class="row" style="position: fixed; top:20px; right: 40px"><a class="blue-text darken-3-text" style="cursor:pointer" href="feed?username=#{username}&password=#{password}"><i class="fa fa-refresh"></i> REFRESH FEED</a></div>
                    <div class="row">
                        each item in posts
                            <div class="col s4 m4">
                                <div class="card">
                                    if item.img
                                        <div class="card-image">
                                            <img src="#{item.img}">
                                        </div>
                                    <div class="card-content grey-text text-darken-3"><p>#{item.text}</p></div>
                                    if item.url
                                        <div class="card-action light-blue-text text-darken-4"><a href="#{item.url}" target="_blank">SEE DETAILS</a></div>
                                </div>
                            </div>
                    </div>
                else
                    <div class="row" style="margin-top:100px"> <div class="grey-text text-darken-3 "> <h2 class="center-align"><i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i></h2> <h4 class="center-align">Nothing of your interest!</h4> <h5 class="center-align">You can modify your keywords and reading again</h4> <br/> <div class="center-align"> <a class="waves-effect waves-light btn-large light-blue" href="feed?username=#{username}&password=#{password}"><i class="fa fa-rss"></i> Read Again</a> </div></div></div>
</div><div class="footer-copyright grey lighten-3" style="position:fixed; bottom:0; width:100%; padding-left:-50px; z-index:5000;"> <div class="container grey-text text-darken-3">© 2017 - Lex Mart&iacute;nez</div></div></footer></body></html>

